/* 
Design Notes
Photo gallery portion of the page: CSS grid. 
Other parts: whatever CSS layout technique(s) you feel are the best choice.

Some notes on the design from your UX designer:

Sans-serif font
Page background colour is #cccccc
Header background color: #120323
Company name & image bottom border: #97bf04
Navigation & footer background colour: #d9043d
Any spacing not defined can be estimated
Ensure you don't use pixels for anything other than image widths and border sizes. All other units should be relative (rem, em, %, etc.)
Each photo has a 10px border on the bottom
Each gallery image should scale according to the size of its container, up to 650px in width, and be centered in its container
*/

* {
    box-sizing: border-box;
 }

/*General*/
body {
    background-color: #cccccc;
    font-family: 'Segoe UI', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    margin: auto;
 }


/*Header*/
header {
    background-color: #120323;
    text-align: center;
    align-items: center;
}

h1 {
    color: #97bf04;
}

header img {
    max-width: 150px;
    border: 0;
}

nav {
    padding: 1rem;
    width: 95%
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
    background-color: #d9043d;
    border: 2px solid #97bf04;
    margin-bottom: 0.25rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.25rem
}

/*Gallery*/

#gallery-container {
    grid-template-columns: 1;
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
}

img {
    border-bottom: 10px solid #97bf04;
    width: 100%;
    max-width: 650px;
}


/*Footer*/
footer {
    background-color:#d9043d;
    color: white;
    text-align: center;
    padding: 1rem;
 }

/*Media Queries*/

@media screen and (min-width: 768px){
    nav{
        width: 100%;
        background-color: #d9043d;
    }

    nav ul li {
        display: inline;
        border: 0;
    }
    
    #gallery-container {
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }

    figure:last-of-type{
        grid-column: span 2;
    }

@media screen and (min-width: 1000px){
    nav{
        width: 100%;
        background-color: #d9043d;
    }
    
    nav ul li {
        display: inline;
        border: 0;
    }
        
    #gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }
    
    figure:last-of-type{
        grid-column: span 2;
    }    

/*For devices less than 768px wide
The buttons in the navigation should be of equal width and height, and take up 95% of the screen width
The buttons have a border that is colour #97bf04
The photo gallery should be one column

For devices less than 1000px wide
The navigation should be a pink bar that takes up 100% the width of the screen with the links centered inside the nav bar
The photo gallery should be two columns
The last image in the gallery (tiger) should span two columns

For devices greater than 1000px wide
The navigation should be a pink bar that takes up 100% the width of the screen with the links centered inside the nav bar
The photo gallery should be three columns
The last image in the gallery (tiger) should span two columns
*/
