* {
    box-sizing: border-box;
 }

/*General*/

body {
    background-color: #cccccc;
    font-family: 'Segoe UI', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    margin: auto;
 }


/*Header*/

header {
    background-color: #120323;
    text-align: center;
    align-items: center;
}

h1 {
    color: #97bf04;
}

header img {
    max-width: 150px;
    border: 0;
}

nav {
    padding: 1rem;
    width: 95%
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
    background-color: #d9043d;
    border: 2px solid #97bf04;
    margin-bottom: 0.25rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.25rem
}

/*Gallery*/

#gallery-container {
    grid-template-columns: 1;
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

h2 {
    text-align: center;
}

img {
    border-bottom: 10px solid #97bf04;
    width: 100%;
    max-width: 650px;
}


/*Footer*/

footer {
    background-color:#d9043d;
    color: white;
    text-align: center;
    padding: 1rem;
 }

/*Media Queries*/

@media screen and (min-width: 768px){
    nav{
        width: 100%;
        background-color: #d9043d;
    }

    nav ul li {
        display: inline;
        border: 0;
    }
    
    #gallery-container {
        grid-template-columns: 1fr 1fr;
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }

    figure:last-of-type{
        grid-column: span 2;
    }

@media screen and (min-width: 1000px){
    nav{
        width: 100%;
        background-color: #d9043d;
    }
    
    nav ul li {
        display: inline;
        border: 0;
    }
        
    #gallery-container {
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        gap: 1rem;
        padding: 1rem;
    }
    
    figure:last-of-type{
        grid-column: span 2;
    }    
}